<p>toggle favorite star!</p>
<button (click)="onClick()"> {{ isFavorite == true ? 'Case 1' : 'Case 2' }}</button>
<!--<h2>-->
<!--  <span class="glyphicon"-->
<!--        []="isFavorite"-->
<!--        [class.glyphicon-star-empty]="!isFavorite"-->
<!--        (click)="onClick()">-->
<!--  </span>-->
<!--</h2>-->
<!-- another way to do class based styling -->
<!--<h2>-->
<!--  <span class="glyphicon"-->
<!--        (click)="onClick()" [ngClass]="{-->
<!--        '<p>favorite works!</p>' : isFavorite,-->
<!--        '<p>favorite false works!</p>': !isFavorite-->
<!--      }"></span>-->
<!--</h2>-->
<!--
<input [(ngModel)]="inputText">
<br>
<p>{{ inputText | titlecase }}</p> -->
